.my-messages {
    text-align: right;
    margin-right: 2%;
    min-width: 1000px;
    float: right;
}

.other-messages {
    min-width: 1000px;
    float: left;
}

footer {
    position: fixed;
    height: 105px;
    bottom: 0;
    width: 100%;
    margin-left: 0.4%;
}

.message-box{
    display: block;
    float: left;
    height: 100px;
    width: 90%;
}

.submit-msg-btn{
    display: block;
    float: left;
    height: 100px;
    margin: 0 -1px 0 0px;
    width: 9.2%;
    border: 0px;
}