<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Texenger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            <li *ngIf="!globals.loggedInAs" class="dropdown order-1">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Login
                    <span class="caret"></span>
                </button>
                <!-- <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button> -->
                <ul class="dropdown-menu dropdown-menu-right mt-1" style="min-width: 250px;">
                    <li class="p-3">
                        <form class="form" role="form" (ngSubmit)="onLoginSubmit()">
                            <div class="form-group">
                                <input placeholder="Email" class="form-control form-control-sm" type="text" name="email" required="" [(ngModel)]="userLogin.email">
                            </div>
                            <div class="form-group">
                                <input placeholder="Password" class="form-control form-control-sm" type="password" name="password" required="" [(ngModel)]="userLogin.password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block cursor-pointer">Login</button>
                            </div>
                            <div class="text-xs-center">
                                <small>
                                    <a href="#">Forgot password?</a>
                                </small>
                                <br/>
                                <small>
                                    <a href="#" (click)="userRegister();">New user</a>
                                </small>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <li *ngIf="globals.loggedInAs" class="nav-item cursor-pointer" style="color: #99b3ff;">
                <span style="margin-right: 10px;" class="dropdown-toggle" data-toggle="dropdown">Welcome! {{ userInfo.name }}
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-right mt-1 li-hover" style="min-width: 250px;">
                    <li class="p-3 cursor-pointer" (click)='logOut()'>
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>